*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.15rem;
} 

a{
  text-decoration: none;
}

p {
  margin: 35px 0;
  color: #000;
  font-size: 1rem;
}

ul{
    padding: 0.5rem;  
    margin: 0rem 6rem;
    display: inline-block;
  }

#Navbar{
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

  .logo {
    font-size: 1.5rem;
    margin: 0.75rem 1.5rem;
    color: blue;
    }

#Navbar ul{
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
}

#Navbar ul li a{
  padding: 0.75rem;
  margin: 0 0.25rem;
  }

.showcase{ 
  background: #333 url('./img/woman.jpg') no-repeat
  center center/cover;
   height: 100vh; 
   width: 100vw; 
  color: #fff;
  display: inline-block;
  opacity: 0.8;
  }

  .showcase-header{
    color: blue;
  }

  .showcase-content{
    color: black;
  }
 
  .showcase .showcase-content{
    margin: 4rem 1.5rem;
    font-size: 20px;
  } 



 
